body,
html {
  height: 100%;
}
.frame-text,
.level {
  letter-spacing: 3px;
}
.frame-description-2,
.frame-text {
  font-family: "Dm Sans", sans-serif;
  line-height: 88px;
  text-align: left;
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v14-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v14-latin-700.woff2") format("woff2");
}
:root {
  --black: #000000;
  --white: #fff;
  --blue: #118da8;
  --gray: #191919;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container,
.main {
  margin-left: auto;
  margin-right: auto;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
.header,
.hero,
img {
  display: flex;
}
img {
  object-fit: cover;
}
body {
  background-color: var(--gray);
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
:focus {
  outline: 2px solid var(--blue);
  outline-offset: 3px;
}
h1 {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
}
main {
  flex-grow: 1;
}
.header {
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 67px;
  padding: 0 50px;
  margin: 26px auto;
}
.center-header,
.center-main,
.hero {
  margin-right: auto;
}
.sitenav-list {
  display: flex;
  gap: 40px;
}
.sitenav-link {
  color: var(--white);
}
.hero {
  width: 1400px;
  height: 913px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
}
.b-btn,
.btn {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.hero-description {
  width: 530px;
  height: 610.58px;
  top: 131.42px;
  margin-left: 60px;
}
.frame-text {
  width: 526px;
  height: 176px;
  font-size: 70px;
  font-weight: 400;
  margin-top: 162px;
}
.frame-description {
  color: #fff;
}
.b-btn,
.btn,
.center-title,
.frame-description-2,
.framelogo-text {
  color: var(--white);
}
.frame-logo {
  width: 289px;
  height: 72px;
  margin-top: 172px;
}
.frame-description-next-btn {
  left: 0;
  position: absolute;
}
.frame-description-next {
  width: 160px;
  height: 88px;
  color: var(--white);
  position: relative;
}
.level {
  display: flex;
}
.frame-description-2 {
  font-size: 80px;
  font-weight: 700;
  width: 191px;
  height: 88px;
}
.center-title,
.framelogo-text,
.main-des-title {
  font-family: "Dm Sans", sans-serif;
  font-weight: 400;
}
.framelogo-text {
  margin-left: 22px;
  margin-bottom: 16px;
  width: 66px;
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}
.frame-icons {
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  gap: 17px;
}
.btn {
  padding: 8px 16px;
  background-color: var(--blue);
  font-size: 17px;
  width: 178px;
  height: 51px;
  justify-content: center;
  align-items: center;
}
.center-main {
  width: 1440px;
  margin-left: auto;
  padding-left: 20px;
  paddinng-right: 20px;
}
.center-header {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 70px;
}
.center-title {
  margin-top: -7.44px;
  font-size: 64px;
  line-height: 79.2px;
  letter-spacing: 2.880000114440918px;
  text-align: left;
}
.b-btn {
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  font-size: 18px;
  line-height: 27px;
}
.main-des-1,
.main-des-2,
.main-des-3 {
  top: -0.44px;
  gap: 0;
  padding: 40px;
  margin-right: auto;
}
.regis-left,
.sec-item-2 {
  flex-direction: column;
}
.main-des-1 {
  background-color: var(--black);
  width: 1300px;
  height: 545px;
  border-radius: 32px;
  margin-top: 63px;
  margin-left: auto;
  display: flex;
}
.main-des-2,
.main-des-3,
.regis {
  background-color: #000;
  border-radius: 32px;
  display: flex;
}
.main-des-description {
  margin-left: 53px;
}
.main-des-btn {
  margin-top: 7px;
  width: 73px;
  height: 27px;
}
.main-des-link {
  margin-top: 48px;
  color: var(--blue);
}
.main-des-title {
  color: var(--white);
  width: 701px;
  height: 141px;
  margin-top: 17px;
  font-size: 64px;
  line-height: 70.4px;
  letter-spacing: 2.5px;
  text-align: left;
}
.des-description,
.des-description-1,
.des-description-2 {
  font-family: "Dm Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  opacity: 0.7;
  color: #fff;
}
.des-link {
  width: 208px;
  margin-top: 18px;
}
.des-description,
.des-description-2 {
  width: 757px;
  height: 99px;
  margin-top: 28px;
}
.main-des-2,
.main-des-3 {
  width: 1300px;
  height: 545px;
  margin-top: 63px;
  margin-left: auto;
}
.main-des-btn-2 {
  width: 136px;
  height: 27px;
}
.main-botton {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  paddinng-right: 20px;
  margin-top: 259px;
}
.botton-center {
  display: flex;
  margin-bottom: 100px;
}
.right {
  padding-left: 50px;
  width: 590px;
  height: 448px;
  margin-top: 100px;
}
.des-description-1 {
  margin-top: 33px;
  width: 757px;
  height: 99px;
}
.left {
  margin-left: 60px;
}
.regis {
  width: 1280px;
  height: 387px;
  left: 20px;
  gap: 0;
  opacity: 0px;
  padding: 50px;
}
.group-des,
.group-title {
  left: 50px;
  gap: 0;
  opacity: 0px;
  font-family: "Dm Sans", sans-serif;
  font-weight: 400;
  text-align: left;
}
.regis-des {
  width: 642px;
  height: 330px;
  top: -0.13px;
  gap: 0;
  opacity: 0px;
}
.input {
  background-color: #191919;
  width: 522px;
  height: 82px;
  top: 0.13px;
  gap: 0;
  border-radius: 6px 0 0;
  border: 1px;
  opacity: 0px;
  color: #fff;
  font-family: "Dm Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  margin-top: 20px;
}
.group-item {
  width: 423px;
  height: 321px;
  top: 0.12px;
  gap: 0;
  border-radius: 32px;
  opacity: 0px;
  background-color: #000;
  padding-left: 50px;
  padding-top: 54px;
  padding-right: 60px;
}
.group-title {
  width: 313px;
  height: 130px;
  top: 92px;
  font-size: 36px;
  line-height: 43.2px;
  color: #fff;
  margin-top: 21px;
}
.footer,
.group {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.group-des {
  height: 29px;
  top: 241px;
  font-size: 24px;
  line-height: 28.8px;
  color: var(--white);
  opacity: 0.7;
  margin-top: 19px;
}
.yulduz {
  display: flex;
  gap: 5px;
}
.group {
  height: 901px;
  margin-top: 200px;
}
.group-div-2 {
  margin-top: 16px;
}
.group-list {
  display: flex;
  gap: 16px;
}
.footer {
  height: 438px;
}
.section {
  width: 1400px;
  height: 438px;
  left: 20px;
  display: flex;
}
.sec-list {
  display: flex;
  margin-left: 10px;
}
.sec-logo {
  display: flex;
  gap: 10px;
  margin-top: 23px;
}
.sec-item-2 {
  display: flex;
  width: 178.84px;
  height: 222px;
  left: 463.14px;
  padding: 0 103.98px 84.88px 0;
}
.sec-link,
.sec-link-2 {
  top: -0.88px;
  left: -0.14px;
  font-family: "Dm Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 10px;
}
.sec-link {
  height: 27px;
  gap: 0;
  opacity: 0px;
  margin-left: 239px;
  color: #fff;
  width: 174px;
}
.sec-item-3 {
  display: flex;
  flex-direction: column;
  width: 178.84px;
  height: 222px;
  margin-left: -16px;
  padding: 0 4.83px 10.88px 0.02px;
}
.section-logo {
  display: flex;
  gap: 16px;
  margin-left: 300px;
}
.sec-link-2 {
  height: 27px;
  margin-left: 239px;
  color: var(--white);
  width: 174px;
}
